<div class="row">
    <div class="col-12">
            <div class="card">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="card-body">                
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="valueB" aria-valuemin="0" aria-valuemax="100" [style.width]="valueB + '%'"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="valueG" aria-valuemin="0" aria-valuemax="100" [style.width]="valueG + '%'"></div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (changedValue)="valueB = $event" title="Barra de Progreso Azul" [value]="valueB"></app-incrementador>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (changedValue)="valueG = $event" title="Barra de Progreso Verde" [value]="valueG"></app-incrementador>
            </div>
        </div>
    </div>
</div>