.login {
  &-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed; 
  }
    
  &-box {
    width: 400px;
    margin: 0 auto; 
  }

  &-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; 
  }

  &-box .social {
    display: block;
    margin-bottom: 30px; 
  }


  &-sidebar {
    padding: 0px;
    margin-top: 0px; 
  }

  &-sidebar &-box {
    right: 0px;
    position: absolute;
    height: 100%; 
  }
}

#recoverform {
  display: none; 
}